//- NavBar 
mj-section(padding="20px 20px 0 20px" background-color="#ffffff")
    mj-column(width="35%")
        mj-text(align="left" font-size="20px" font-weight="500") //BR&amp;AND 
    mj-column(width="65%")
        mj-text(align="right" font-size="11px")
            a(href="#" style="color:#000000;text-decoration:none;text-transform:uppercase;") home &nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;
            a(href="#" style="color:#000000;text-decoration:none;text-transform:uppercase;") service &nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;
            a(href="#" style="color:#000000;text-decoration:none;text-transform:uppercase;") third