mjml
    //- Head
    mj-head
        mj-title Say hello to card
        mj-raw.
            <meta name="color-scheme" content="light"/>
            <meta name="supported-color-schemes" content="light"/>
            <meta name="format-detection" content="telephone=no"/>
            <meta name="format-detection" content="date=no"/>
            <meta name="format-detection" content="address=no"/>
            <meta name="format-detection" content="email=no"/>
        mj-font(name="Montserrat" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500")/
        mj-attributes
            mj-all(font-family='Montserrat, Helvetica, Arial, sans-serif')/
            mj-text(font-weight="400" font-size="16px" color="#000000" line-height="24px")/
            mj-image(border='none')/
            mj-section(padding='0')/
        mj-breakpoint(width='480px')
    //- Body
    mj-body(background-color="#f2f2f2")       
        //- content
        block content
        //- map
            block map
            include ../includes/_map
        //- recommended
            block recommended
            include ../includes/_recommended
        //- footer
            block footer
            include ../includes/_footer