extends templates/_layout
//- content
block content
    //- Header Text
    mj-section(padding="10px 0 20px 0")
        mj-column
            mj-text(align='center' color="#9b9b9b" font-size='11px') Writing A Good Headline For Your Advertissement
    //- NavBar 
    mj-section(padding="20px 20px 0 20px" background-color="#ffffff")
        mj-column(width="35%")
            mj-text(align="left" font-size="20px" font-weight="500") //BR&amp;AND 
        mj-column(width="65%")
            mj-text(align="right" font-size="11px")
                a(href="#" style="color:#000000;text-decoration:none;text-transform:uppercase;") home &nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;
                a(href="#" style="color:#000000;text-decoration:none;text-transform:uppercase;") service &nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;
                a(href="#" style="color:#000000;text-decoration:none;text-transform:uppercase;") third
    //- Hero
    mj-section(padding="20px 20px 0 20px" background-color="#ffffff")
        mj-column
            mj-text(align="center" font-weight="300" padding="30px 40px 10px 40px" font-size="32px" line-height="40px" color="#5fa91d" text-transform="capitalize") free advertising for your online business.
    mj-section(padding="10px 20px" background-color="#ffffff")
        mj-column
            mj-divider(width="30px" border-width="3px" border-color="#9b9b9b")
    mj-section(padding="0 20px 20px 20px" background-color="#ffffff")
        mj-column(width="80%")
            mj-text(align="center" padding-top="10px" font-weight="500" padding="0px" text-transform="capitalize") a right media mix can make the difference.
    //- Body
    //-footer
    
    
