extends templates/_layout
//- content
block content
    //- Header Text
    mj-section(padding="10px 0 20px 0")
        mj-column
            mj-text(align='center' color="#9b9b9b" font-size='11px') Writing A Good Headline For Your Advertissement
    
